.contact
    background-image: url("../img/main_bg.jpg")
    padding-bottom: 4rem
    .titre
        padding: 4rem
        font-family: Courgette
        span 
            color: $danger
            font-size: 50px
    .container
        .row
            .col-4
                background-color: $danger
                border-radius: 10px
                color: $light
                padding-top: 30px
                padding-bottom: 10px
                .ligne 
                    border-bottom: 1px solid $light
                    padding-bottom: 10px
                i 
                    font-size: 40px
                    padding-bottom: 10px

.about
    background-image: url("../img/footer_background.jpg")
    color: $light
    padding: 3rem
    p 
        font-size: 14px
        margin-top: 2rem
    i 
        font-size: 25px
        padding-right: 20px
    .espace
        margin-top: 2rem
    button 
        background-color: $danger
        color: $light
        border-radius: 20px
        padding: 8px 9px
        border: 2px solid $danger
        &:hover
            background-color: $light
            color: $danger

.copyright
    background-color: $danger
    color: $light
    padding: 30px