.content
    .info
        background-image: url("../img/main_bg.jpg")
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        text-align: center
        .container
            background-color: green
            margin: 50px 0
            .story
                p 
                    padding: 20px 140px
                span 
                    color: $danger
            .menu 
                span 
                    color: $danger