.info
    background-image: url("../img/main_bg.jpg")
    text-align: center
    padding-top: 50px
    padding-bottom: 50px
    .container
        background-color: $light
        .story
            p 
                padding: 20px 155px
            span 
                color: $danger
        .menu 
            span 
                color: $danger
.staff
    background-image: url("../img/team_background.jpg")
    text-align: center
    color: $light
    .titre
        padding: 4rem 0
        span 
            color: $danger
    .container
        img 
            border-bottom: 1px solid $secondary