.info
    background-image: url("../img/main_bg.jpg")
    text-align: center
    padding-top: 50px
    padding-bottom: 50px
    .container
        background-color: $light
        .story
            h2 
                font-family: Courgette
            p 
                padding: 20px 155px
            span 
                color: $danger
                font-size: 50px
        .menu 
            h2 
                font-family: Courgette
            span 
                color: $danger
                font-size: 50px
.staff
    background-image: url("../img/team_background.jpg")
    text-align: center
    color: $light
    .titre
        padding: 4rem 0
        font-family: Courgette
        span 
            color: $danger
            font-size: 50px
    .container
        img 
            border-bottom: 1px solid $secondary